[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://trggitswestuzklttdwv.supabase.co"
  VITE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_IQSZP2-J8fbFKuexLXOJbw_IjdsvsRI"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
